{
  "plugins": [
    "external-helpers",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "comments": false,
  "env": {
    "es5": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "safari >= 8", "android >= 4.4"],
            "modules": false
          }
        }]
      ]
    }
  }
}
