.__Setting {
    display: block;
}

.__Setting .__list {
    font-size: 12px;
    color: #e8f5ff;
    padding: 10px;
    height: 16px;
    background-color: #2290e8;
    vertical-align: middle;
    border-top: 1px solid rgb(9, 136, 238);
}

.__Setting .__list.hide {
    display: none;
}

.__Setting .__ios-checkbox {
    vertical-align: middle;
    float: right;
}

.__Setting .__ctrl-key {
  color: #f5e04c;
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  width: 50px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 12px;
  text-align: right;
}
