.__Relect {
    color: currentcolor;
}

.__Relect .__Relect_text {
    cursor: pointer;
}

.__Relect .__Relect_text.special {
    display: block;
    height: 160px;
}

.__Relect .__Relect_text:hover{
    color: #e9f54c;
}

.__Relect .__Relect_wrap {
    display: none;
    color: #353535;
    padding: 10px;
    text-align: left;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #E4E4E4;
    z-index: 2;
}

.__Relect .__Relect_wrap.show {
    display: block;
}

.__Relect .__Relect_container span {
    text-align: center;
    cursor: pointer;
    display: block;
    padding: 5px;
    font-size: 12px;
    color: #4A4A4A;
    background-color: #FFFFFF;
    width: 30%;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.__Relect .__Relect_container span:hover {
    background-color: #4caaf5;
    color: white;
}

.__Relect .__Relect_container span.on {
    background-color: #4caaf5;
    color: white;
}

.__Relect .__Relect_scroll_container {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
}

.__Relect .__Relect_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:flex-start;
    align-content: flex-start;
    padding: 0 10px;
}

.__Relect .__Relect_current {
    color: #333333;
    padding-bottom: 10px;
    border-bottom: 1px solid #CACACA;
}

.__Relect .__Relect_current img {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.__Relect .__line {
    height: 1px;
    width: 100%;
    background-color: #CACACA;
    margin: 0px 0 10px 0;
}